step-function/etl-pipeline.json
{
    "Comment": "ETL Pipeline",
    "StartAt": "ValidateCsvFile",
    "States": {
        "ValidateCsvFile": {
            "Type": "Task",
            "Resource": "${ValidateCsvFileLambdaArn}",
            "Next": "StartRawCrawler"
        },
        "StartRawCrawler": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
            "Parameters": {
                "Name": "${RawCrawlerName}"
            },
            "ResultPath": "$.response.start_crawler",
            "Next": "CheckRawCrawler"
        },
        "CheckRawCrawler": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
            "Parameters": {
                "Name": "${RawCrawlerName}"
            },
            "ResultPath": "$.response.get_crawler",
            "Next": "isCrawlerRunning"
        },
        "isCrawlerRunning": {
            "Type": "Choice",
            "Choices": [
                {"Or": [
                    {
                        "Variable": "$.response.get_crawler.Crawler.State",
                        "StringEquals": "RUNNING"
                    },
                    {
                        "Variable": "$.response.get_crawler.Crawler.State",
                        "StringEquals": "STOPPING"
                    }

                ],
                "Next": "WaitForRawCrawlerToComplete"
                }
            ],
            "Default": "RunGlueJobSync"
        },
        "WaitForRawCrawlerToComplete": {
            "Type": "Wait",
            "Seconds": 30,
            "Next": "CheckRawCrawler"
        },
        "RunGlueJobSync": {
            "Type": "Task",
            "Resource": "arn:aws:states:::glue:startJobRun.sync",
            "Parameters": {
                "JobName": "${GlueJobName}",
                "Arguments": {
                    "--JOB_NAME": "${GlueJobName}",
                    "--GLUE_DB": "${GlueDbName}",
                    "--PROCESSING_FOLDER": "${ProcessingFolder}",
                    "--PROCESSED_FOLDER": "${ProcessedFolder}",
                    "--BUCKET_NAME": "${BucketName}"
                }
            },
            "Next": "StartPartitionedCrawler"
        },
        "StartPartitionedCrawler": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
            "Parameters": {
                "Name": "${PartitionedCrawlerName}"
            },
            "ResultPath": "$.response.start_crawler",
            "Next": "CheckPartitionedCrawler"
        },
        "CheckPartitionedCrawler": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
            "Parameters": {
                "Name": "${PartitionedCrawlerName}"
            },
            "ResultPath": "$.response.get_crawler",
            "Next": "isPartitionedCrawlerRunning"
        },
        "isPartitionedCrawlerRunning": {
            "Type": "Choice",
            "Choices": [
                {"Or": [
                    {
                        "Variable": "$.response.get_crawler.Crawler.State",
                        "StringEquals": "RUNNING"
                    },
                    {
                        "Variable": "$.response.get_crawler.Crawler.State",
                        "StringEquals": "STOPPING"
                    }

                ],
                "Next": "WaitForPartitionedCrawlerToComplete"
                }
            ],
            "Default": "EndState"
        },
        "WaitForPartitionedCrawlerToComplete": {
            "Type": "Wait",
            "Seconds": 30,
            "Next": "CheckPartitionedCrawler"
        },
        "EndState": {
            "Type": "Pass",
            "End": true
        }
    }
}
